# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching directories


# Environments
.env
.venv/
ENV/

# Editor directories and files
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore all in the root .vs directory
.vs/*